[2018-01-25 14:48] lesar opened #2 "little error in readme.md"
in the `splitAt` part you have named the example `takeLast`

[2018-01-25 18:48] paldepind commented on #2
Good catch! Do you want to do a PR or should I fix it?

[2018-01-25 18:51] lesar commented on #2
I do not know what is a PR. :-)

[2018-01-25 19:00] paldepind commented on #2
Oh 😄 PR means pull request. It's how you propose changes to a project. It allows you to make some changes to a project's documentation or code and then request that they pull your changes into their code.

If you want to try it, here is how you create a pull request that fixes the error you spotted:

1/ Go to [this page with the README](https://github.com/funkia/list/blob/master/README.md)
2/ Pres

[2018-01-25 19:54] lesar commented on #2
Tank you. Tomorrow Morning i will try

Il 25 gen 2018 20:00, "Simon Friis Vindum" <notifications@github.com> ha
scritto:

[2018-01-26 13:46] lesar opened #4 "List Type"
Hello, I liked to know what kind of Lists you have implemented: if your List have a math name or are
inspired to a math algorithm?

regards

[2018-01-26 19:29] paldepind commented on #4
Good question. I should probably document that somewhere.

It's an implementation of relaxed radix balanced trees (RRB-trees).

By far the easiest to understand introduction to the data structure is [this series](http://www.hypirion.com/musings/understanding-persistent-vector-pt-1) of blog posts. The blog posts describes a simpler version of the data structure. I'm sure if it has a specific name b

[2018-01-26 19:34] paldepind commented on #2
You're welcome. Thanks for the PR and for spotting the mistake  🎉

Oh, yes. Indeed. The data is wrong too 😓

[2018-01-27 10:39] lesar commented on #4
Wow these documents are very interesting.
Thanks

[2018-01-27 10:39] #4 closed

[2018-02-20 13:19] Andarist opened #8 "Reconsider - sideEffects: false"
Im not sure about exact algo of how it works just yet, but I suspect that this field is unsafe at the moment because, while main entry has no side effects and this package.json field can be used safely for it, the other entries such as fantasy-land are actually effectful and might be dropped because of that.

I can check with webpack@4-beta later how it behaves.

[2018-02-20 14:33] paldepind commented on #8
Yes, you're right. That is a problem. As far as I've understood the value of `sideEffects` can be an array of filenames. Then the files in the array are assumed to have side-effects and any file not in the array is assumed to be pure.

There is documentation for `sideEffects` [here](https://github.com/webpack/webpack/tree/master/examples/side-effects). But it doesn't mention using an array 😕

[2018-02-20 14:35] paldepind commented on #8
[This](https://github.com/webpack/webpack/issues/6074#issuecomment-349892587) is where I saw the array option mentioned.

[2018-02-20 19:29] MonsieurMan opened #11 "Feature - Create operator that takes a function."
The idea would be to have an operator that takes a function and a count to generate a new list.

**Example**
[code]

[2018-02-20 20:10] paldepind commented on #11
Hello @MonsieurMan. Thank you for the suggestion 😄

Here is one way you could do it with the current API.

[code]

But, what you're describing sounds a lot like the Ramda function called [times](http://ramdajs.com/docs/#times). With that function you'd do:

[code]

The function is also passed the current index but obviously, it doesn't have to use it.

Am I correct that your `generate` is the same

[2018-02-20 20:23] MonsieurMan commented on #11
Yes, that's exactly it !

As for the name I don't know if you want to keep the exact same API as ramda, because I find `repeatFunc` to be more readable and consistent with `repeat`.

By the way I just wrote a first implementation like so:
[code]

I'm just not happy about the unit test I wrote which is quite dirty.

Would you like me to PR ? I'd like to contribute to the project, it seems fun and I

[2018-02-20 20:40] paldepind commented on #11
I think I'd prefer to keep the same name as Ramda uses. I see your point with regards to `repeatFunc`. But I also think the name "times" is ok. `times` calls a given function a given number of _times_.

I'd love a PR ❤️ Your implementation looks good! I think it should pass the current index like Ramda does. Passing the index certainly doesn't hurt. And if the type for `func` is `(index: number) =

[2018-02-20 21:57] MonsieurMan commented on #11
Here it is ! :smile:

[2018-02-21 08:39] Andarist commented on #8
I think more complex rules for this are considered an enhancement that is going to be implemented later, not sure though.

[2018-02-21 08:44] #11 closed

[2018-02-25 09:40] paldepind commented on #8
Ok. That is good to know. I was under the impression that it was already implemented.

It think there are two options:

* If Webpack 4 supports specifying specific files as having side effects then we do that.
* If Webpack 4 only supports a single global binary then people who import `list/fantasy-land` must also use some function from the module.

I don't think setting `sideEffects` to `true` bec

[2018-02-25 09:48] paldepind commented on #8
@Andarist I had not seen your PR when I wrote the above.

[2018-02-26 08:30] #8 closed

[2018-03-02 18:46] danr opened #22 "Export functions as methods on the List class"
Hi paldepind, thanks for making this interesting library.

I wonder why you chose to make functions as stand-alone and not property methods on the List class? This would make them a little more convenient to use, i.e. `xs.filter(p)` instead of `L.filter(xs, p)`.

/Dan

[2018-03-02 18:57] paldepind commented on #22
Hello @danr. You're very welcome. I'm happy to hear that you find it interesting 😄

There are two reasons for the absence of methods:

1. Some people prefer to work with plain functions
2. Methods don't work with tree-shaking. As soon as a class is imported _all_ it's methods are imported as well.

But, I'm planning to optionally offer methods in the next release. The idea is that you can do the f

[2018-03-02 19:12] danr commented on #22
Ah, I hadn't thought of tree shaking.

Is it possible to do the `list/method` approach without having two different kinds of incompatible `List` around? I.e. you get the normal `List` class but importing `list/method` adds more methods to `List.property`?

If this can be done without incompatibilities it sounds pretty ideal.

[2018-03-02 19:21] paldepind commented on #22
Yes. That's exactly how it works. You can see a tiny [proof of concept here](https://github.com/funkia/list/blob/master/src/methods.ts). That is actually secretly a part of the current release. But it only gives you `append` and `nth` so it's not very useful 😉

[2018-03-02 20:47] danr commented on #22
That looks great! :+1:

[2018-03-06 18:18] gabejohnson opened #25 "nth returns 0 when passed -1"
[code]
It appears to be an off-by-one error as:
[code]

[2018-03-06 22:57] #25 closed

[2018-03-06 22:59] paldepind commented on #25
Thank you for reporting the error. I had forgotten to do bounds check and the 0 was the consequence of looking for something that wasn't there. It should be fixed now in 2.0.5.

[2018-03-18 15:51] paldepind commented on #22
`list/methods` is now available in the latest release 😄

[2018-03-18 15:51] #22 closed

[2018-03-18 19:31] danr commented on #22
Cool! :tada:

[2018-04-06 12:38] lesar opened #35 "How to import?"
I know it is a stupid question, but
[code]
not work.

I am using typescript 2.7.2 and this is a package.json bit:
[code]
if I try this
[code]
not work too.

some message:

what is my error?
regards

[2018-04-06 20:55] lesar commented on #35
Yes it works
Using version 2.0.9 work fine.
Tank you

[2018-04-06 20:55] #35 closed

[2018-04-07 11:24] lesar opened #36 "little bug"
I think you have exchange row 18 with 19 in:
[make-proxies](https://github.com/funkia/list/blob/master/scripts/make-proxies.js)
so there is a comma problem in package.json

I have a strange warning too

regards

[2018-04-09 17:35] paldepind commented on #36
Thank you for reporting the issue @lesar. It seems that you are indeed correct that I've borked the JSON :sob:

I've fixed the comma problem and released it as 2.0.10. Please see if that also fixes the other issue? :crossed_fingers:

[2018-04-11 09:26] lesar commented on #36
No the problem is still here.
I have publish a first release [functional todo list](https://github.com/lesar/functionalHyperscriptTodoList)
If you do the same stuff:
npm install,
npm run start

and the see at `http://localhost:8080/index.html` you can see my little example.

If you see the warning seams List is seaching my index.ts on `../../src/index.ts` but this file is on `../../../../src/index

[2018-04-11 14:52] goodmind opened #37 "Ord typeclass"
How can you use this list with `Ord` ?

[2018-04-11 18:33] paldepind commented on #37
Hello @goodmind. I'm not sure if I understand your question.

If you have a list of values that implements `Ord` you can sort the list of them with [`sort`](https://github.com/funkia/list#sort).

But, List itself does not implement `Ord` _yet. This is planned though. Do you need the `Ord` instance? Because if you do I can make implementing it a higher priority.

[2018-04-11 19:17] goodmind commented on #37
I have static-land `Ord` actually

[2018-04-12 05:46] paldepind commented on #37
I'm sorry, what do you mean? :smile: :question:

[2018-04-12 06:48] goodmind commented on #37
I mean how do I `sort` list of items with static-land `Ord`? https://github.com/rpominov/static-land/blob/master/docs/spec.md#ord

[2018-04-18 11:05] joelnet opened #42 "sort incompatible with Ramda and not curried."
I saw on the main page list is compatible with ramda's sort function, but have run into problems converting some code to list.

[code]

I have also noticed `const L = require('list/curried')` does not curry.

[code]

Am I using this correctly?

[2018-04-18 12:11] paldepind commented on #42
Hello @joelnet. This is intentional but it should have been documented.

List's `sort`, `sortBy` and `sortWith` are not equivalent to Ramda's sorting functions. `L.sortWith` is the same as `R.sort`. `L.sort` only takes a single argument and that's why it appears to be non-curried.

The difference is intentional because I think List's approach is better than Ramda's. `L.sort` makes it very easy to

[2018-04-18 12:52] paldepind commented on #36
Thanks for the steps for reproducing the issue. I was able to see the error you described.

I think I've found the issue. The files generated by TypeScript included source maps and these source maps where included in the npm package. The sources themselves, however, was not included. This caused the browser to look for sources that didn't exist.

List v2.0.11 should fix the issues. I've tried it i

[2018-04-18 14:02] lesar commented on #36
I have update and all work fine.
No more warning.
tank Paldepind

[2018-04-18 14:02] #36 closed

[2018-04-18 18:34] joelnet commented on #42
Ahh okay. So my confusion came in from the **Implemented Ramda functions** section, where `sort` is listed under `implemented`. My understanding of this was that it would be equivalent to ramda's sort function.

I went down this path because I am converting some ramda/array code to list. Most other changes went smoothly, but I got stuck on this one.

I wouldn't expect list and ramda to have identi

[2018-04-19 08:08] paldepind commented on #42
I understand that. Thanks a lot for pointing out the problem. It's clearly not documented properly.

Would you be fine with the current situation as long as the docs are updated to properly explain it? To me the `sort` functions was a trade of between duplicating Ramda and having what I think is a better API. So I choose to diverge slightly from Ramda in that single case.

If you stumble upon some

[2018-04-21 08:45] paldepind commented on #42
Thanks a lot for the feedback :smiley_cat:

#48 should fix the documentation issue.

Good point! I definitely think that including something to ease that would be great. `Promise.all` is quite common.

The decorator looks interesting but I think that maybe a `Promise.all` composed with `fromArray` would be simpler? I'd be exactly like `Promise.all` except returning a list. What should such a funct

[2018-04-24 12:55] #42 closed

[2018-05-04 18:05] gabejohnson commented on #37
@goodmind I would think you could use `sortWith`, passing your own function that uses `lte`.

[2018-05-04 22:18] wishfoundry opened #49 "fold vs reduce argument order"
Hi guys,

first, I just wanted to congradulate you on some very impressive work!

have you guys thought about the argument order on fold operations?

for the sake of compliance with existing JS, fantasy-land specifies the argument order for `reduce` to be `(accumulation, currentValue)`.
However, functional conventions is to always have the collection argument last(e.g. ramda), to encourage functio

[2018-05-05 07:37] paldepind commented on #49
Thank you. Comments like that mean a lot 😄

I definitely agree that having the accumulator last is better when composing functions.

I realize that the documentation is quite poor in this regard, but in List `foldr` gives the accumulator last and `foldl` gives the accumulator first. That is the order used often in functional programming and I think it makes sense. The explanation I've read is to t

[2018-05-14 18:15] Mottie opened #53 "Documentation Error"
The `dropRepeatsWith` entry in the main readme is incorrect - https://github.com/funkia/list#droprepeats-1

It's listed as `dropRepeats` (missing the `With`), and the code example is shown as `ropRepeatsWith` (missing the `d`).

[2018-05-14 20:08] paldepind commented on #53
Thank you for pointing it out :smile:

It should be fixed now. Does it look good to you? https://github.com/funkia/list#droprepeatswith

[2018-05-14 22:51] Mottie commented on #53
Awesome!

[2018-05-14 22:51] #53 closed

[2018-05-21 04:07] joelnet opened #55 "npm.js package is not linked to github repo"
I find myself using npm.js to search for packages I use regularly and was not able to find the link to this repo from https://www.npmjs.com/package/list.

[2018-05-21 10:52] paldepind commented on #55
That is a good point. I was not aware of that. The package.json was missing some properties. I've added them and published a new release. As far as I can see everything is now showing up on npmjs.com 😄

Does it look good to you too?

[2018-05-21 21:56] joelnet commented on #55
Awesome Sauce!

Keep up the good work! Love the library!

[2018-05-23 18:51] joelnet commented on #55
I'm using the curried version so I can use it with R.pipe and R.compose.

[2018-05-28 14:26] davidchambers opened #57 "support sanctuary-show"
[code]

Current behaviour:

[code]

Suggested behaviour:

[code]

This would require defining a `@@show` method which applies [`show`][1] to each of the list's elements.

[1]: https://github.com/sanctuary-js/sanctuary-show#show

[2018-05-29 11:05] paldepind commented on #57
Since this is specific for Sanctuary, what do you think about including it in `sanctuary-list`(*)?

(*) Which I have not forgotten about 😅

[2018-05-29 11:06] paldepind commented on #49
As explained above I think List's `foldr`/`reduceRight` and `foldl`/`reduce` is consistent with both typical FP conventions and Ramda in particular. So I'm going to close this issue. Feel free to open it @wishfoundry if you disagree :smile:

[2018-05-29 11:06] #49 closed

[2018-05-31 15:11] davidchambers commented on #57
I like to imagine a future in which the Fantasy Land community at large adopts `@@show`. There's nothing Sanctuary-specific about the [specification][1].

[1]: https://github.com/sanctuary-js/sanctuary-type-identifiers

[2018-06-01 13:39] davidchambers commented on #57
Oops! I linked to the wrong project. I meant to link to [sanctuary-show][1].

If `List#toString` uses [`show`][2] to generate the string representations of its elements, then absolutely!

[1]: https://github.com/sanctuary-js/sanctuary-show
[2]: https://github.com/sanctuary-js/sanctuary-show#show

[2018-06-07 16:13] paldepind commented on #57
@davidchambers

If I understand correctly `@@show` should be implemented as:

[code]

However, that depends on the `show` function from `sanctuary-show`. I hope List will become a foundational library and therefore I'd like to avoid adding dependencies to it.

I understand that converting values to strings is used extensively in Sanctuary to do error reporting. But outside of that, I don't see man

[2018-06-07 17:50] davidchambers commented on #57
I hope that `show` will become foundational and that all ADTs will support it. ;)

It's certainly reasonable. It seems that Sanctuary is opinionated to the point that we need a `sanctuary-` package for everything (except `Future a b`).

[2018-06-26 13:06] grossbart opened #60 "groupWith seems broken"
I tried to use `groupWith` like so:

[code]

I would have expected this result: `list(list({x: 1}, {x: 1}), list({x: 2}, {x: 2}), list({x: 3}, {x: 3}))`.

But I just got the original list back, nested: `list(list({x: 1}), list({x: 2}), list({x: 3}), list({x: 1}), list({x: 2}), list({x: 3}))`.

What's happening becomes more clear from the `console.log`, which shows what's being compared:

[code]

[2018-06-26 15:55] paldepind commented on #60
Hello @grossbart. It does indeed look wrong. But, `groupWith` is only supposed to group elements that are next to each other and equal according to the function given. The documentation is not very clear about that :sob:

For your use case `xs.sortBy(a => a.x).groupBy((a, b) => ...)` should do the trick.

What do you think about that? At the very least the documentation should be improved.

[2018-06-27 08:48] grossbart commented on #60
Ah, I see! I read the Ramda docs about the same function and there it is a bit more clear that it is “just“ a pair-wise comparison. Still, it was unexpected to me. Are these “…With“ functions all based on the same idea from other languages, maybe, and I'm just not familiar with them? I checked what `sortWith` does and it seems it does what I expected `groupWith` to do.

Would it maybe make sense t

[2018-06-27 10:39] paldepind commented on #60
I would like to add `groupBy`. But, I was thinking of making a slight deviation from Ramda by returning a native [Map](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map) instead of an object. That would remove the restriction that you can only group by strings and should perform better. What do you think?

Another option would be to also add a `groupSortBy` funct

[2018-06-30 11:08] grossbart commented on #60
I read up on how Haskell and PureScript do grouping: they, too, rely on data being sorted. It makes sense to me now, as we don't want to sort again if we know that we're dealing with sorted data. So actually, all is good, but a note in the documentation would be nice.

PureScript has sibling functions: `group` needs a sorted list, `group'` sorts internally. Maybe this would be an idea for List as

[2018-07-02 19:48] paldepind commented on #60
Thank you for a very thoughtful comment @grossbart :smile:

`group` is already there. `group'` is also nice to have but I don't know what to call it in the absence of `'`.

I agree with this. In some sense, a list of lists seems more intuitive but a map can in many cases be more useful.

Yes, there is a lot of prior art with many inconsistencies. Among other things, the names `bind`, `flatMap`, an

[2018-07-09 18:42] #60 closed

[2018-07-18 19:22] grossbart commented on #60
Thanks for elaborating on your thinking, @paldepind, and for clarifying the documentation – it's clear now 👍And sorry for only getting back to you so late, as is sometimes the case, deadlines and vacation got in the way 😅

[2018-08-22 05:14] emmanueltouzery opened #63 "question: flatMap/chain and iterables"
as you know, I'm writing the prelude.ts library, and now using your list library as a backing implementation for the Vector. I'm currently considering switching the prelude's flatMap implementation away from the current prelude.ts and also the current `list` behavior, I was wondering if you have a particular opinion about this behavior.

Currently `list` has:

    export function flatMap<A, B>(f:

[2018-08-22 19:48] wishfoundry commented on #63
I think what your trying to do is reuse a classical OOP collection type, when what you might want is a functional type, e.g.:
https://github.com/fantasyland/fantasy-land#chain

[code]

although I think most libs I've seend tend to give up and just:
[code]

[2018-08-22 20:00] emmanueltouzery commented on #63
yes good point, what did fantasyland decide, and they decided like list and the current prelude.ts (and unlike scala & immutablejs), it's clearly written:

(`f` being the callback which is passed in to flatMap/chain)

on the one hand this accepting an Iterable is 'handy', on the other hand it feels a little like Promise.then which mixes up map & flatMap in a single 'then' function. From that point

[2018-08-23 20:04] emmanueltouzery opened #64 "bugs: list returns wrong results (likely bug in drop function)"
noticed this in uses from my prelude.ts library :-(

list appears to get confused by a series of operations, let's say its internal structures get corrupted, and it returns wrong results.

I made a reproduction script:

[code]

The output is:

[code]

[2018-08-24 08:14] paldepind commented on #64
Thank you for reporting the issue @emmanueltouzery. I'm looking into it!

[2018-08-24 08:55] paldepind commented on #64
See #65. I've found the bug and reproduced it with a smaller test case. I'd love to get your feedback on the alternative solution I mention in the PR :smile:

Thanks again for reporting the issue with a nice and simple test case :+1:

[2018-08-24 09:07] emmanueltouzery commented on #64
did you check that your fix fixes both issues reproduced through the first script? The second issue from the first script may be independent because `drop` and `dropLast` use only slice. In that second issue I don't see first and last playing any role?

[2018-08-24 20:33] paldepind commented on #64
No, I missed that there were two parts and I only tested with the second code. I'll take a look at the other problem as well :smile:

[2018-09-02 04:31] emmanueltouzery commented on #64
yes unfortunately there are two bugs, I ran the test script from your PR branch:

[code]

This kind of bugs seem like showstoppers to me :-(

[2018-09-02 08:49] emmanueltouzery commented on #64
You didn't forget about other bug did you? Closing the bug makes it unclear

[2018-09-02 09:33] emmanueltouzery commented on #64
Yes in general in the commits i say "ref #bug" if it's related to the bug without fixing it. Great otherwise! Hope you make a bugfix release soon :-)

[2018-09-02 10:01] paldepind commented on #64
That's a great tip!

Both issues should be fixed now so I'll close :smile:

[2018-09-02 11:05] emmanueltouzery commented on #64
Sure let's close. Just lobbying for a bugfix release when possible :-)

[2018-09-02 11:05] #64 closed

[2018-09-04 22:18] emmanueltouzery opened #67 "at least one other bug in the list"
so i've been a been worried because of the bug I found previously in list and decided to [write a fuzzer to search for bugs](https://github.com/emmanueltouzery/prelude.ts/commit/fd4de464fb9851ee86a56a8c26d19f97b3492f79). The fuzzer is relavitely easier to write for me because I have several collections with the same API (vector, linkedlist, stream).

And actually it found at least one bug in list

[2018-09-04 22:28] emmanueltouzery opened #68 "list throws"
I got this stack when playing with list in my fuzzer (2.0.14) =>

     TypeError: Cannot read property 'sizes' of undefined
      at sliceRight (node_modules/list/dist/index.js:1220:49)
      at sliceRight (node_modules/list/dist/index.js:1227:21)
      at slice (node_modules/list/dist/index.js:1347:28)
      at Object.take (node_modules/list/dist/index.js:1360:12)
      at Vector.take (dist/src/V

[2018-09-04 22:32] emmanueltouzery commented on #68
I have a reproduction for that stack, it's a bit long though:

<details>
[ 'map *2',
  'reverse',
  'reverse',
  'map *2',
  'reverse',
  'reverse',
  'reverse',
  'drop 232',
  'prepend 25',
  'map *2',
  'take 166',
  'map *2',
  'filter >=162',
  'reverse',
  'map *2',
  'append 139',
  'reverse',
  'append 177',
  'reverse',
  'take 215',
  'drop 46',
  'prepend 116',
  'map *2',
  'append 216

[2018-09-04 22:34] emmanueltouzery commented on #68
that repro is for the exact same stack I reported =>

<details>
[ 'append 105',
  'map *2',
  'append 228',
  'map *2',
  'map *2',
  'append 3',
  'reverse',
  'reverse',
  'map *2',
  'take 129',
  'append 135',
  'prepend 79',
  'reverse',
  'prepend 190',
  'append 143',
  'reverse',
  'map *2',
  'append 193',
  'append 115',
  'reverse',
  'append 136',
  'prepend 131',
  'reverse',
  'appen

[2018-09-05 13:04] paldepind commented on #67
That's really awesome! I've been meaning to create a similar thing myself. If you're interested in submitting the fuzzer as a PR I'd very much appreciate it.

I'll look into the examples with bugs. Over the weekend most likely.

[2018-09-05 19:51] emmanueltouzery commented on #67
currently it's not hard to use the fuzzer built in prelude git repo. maybe i'll find some time to make a PR for funkia too, but i'll see.

to use the fuzzer in prelude...

1. fetch the prelude source, master

2. potentially edit the package.json to point to your funkia list install folder

2. probably edit in tests/Seq.ts =>
-    const testsToRun = 200;
+    const testsToRun = 2000;

3. npm instal

[2018-09-06 18:40] emmanueltouzery commented on #67
if that's useful i made a start of a raw port of the prelude's fuzzer to list, but I won't have time to finish it.

what i have is https://github.com/emmanueltouzery/list/commit/15f38451d2e2a4def821ceced482f54e46ddc10a

actually i have trouble building list after fetching it from git. but even if that was smooth for me, i won't have time i believe. but you could start with that if you're intereste

[2018-09-07 07:11] dubzzz commented on #67
You should maybe try to benefit from property based testing in order to get back a smaller corner case. fast-check comes with a useful built-in to run tests like that: `fc.commands`.

@paldepind I can try to find the above failure with fast-check and see if we can get back a shorter test case

More at https://github.com/dubzzz/fast-check/tree/master/example/model-based-testing

[2018-09-07 17:05] dubzzz commented on #67
@paldepind
I implemented the property based test using https://github.com/dubzzz/fast-check/.
I will clean a little bit the test code before issuing a PR to add it.

*By the way, this is an interesting case for fast-check as it reaches the limits where shrinker of arrays becomes problematic. I think that I will add a limiter on the number of suggested shrunk values.*

It converges on the following

[2018-09-07 17:51] emmanueltouzery commented on #67
otherwise I'm not convinced that there's only one bug. There could possibly be several of them but we'll know when the first one gets fixed.

[2018-09-09 16:31] emmanueltouzery commented on #68
BTW I realized that I'm actually reproducing this in real-world code, the code which generates apidoc for the prelude.ts library.

Fetching the prelude.ts master source, running `npm install`, `tsc`, then `npm run docgen` should reproduce the issue.

[code]

[2018-09-20 14:49] paldepind commented on #67
I've now fixed the specific bug in https://github.com/funkia/list/issues/67#issuecomment-419504257 and I've released a new patch release 2.0.15. @emmanueltouzery please let me know if this affects any of the other bugs you've reported.

Unfortunately, I'm currently busy with my university courses which mean I don't have much spare time for coding 😭 My current plan is to chip away at the reported b

[2018-09-20 16:55] emmanueltouzery commented on #68
confirmed still present in 2.0.15

[2018-09-20 17:03] emmanueltouzery commented on #67
first great that one issue is down!
unfortunately I confirmed that the bug #68 is still present and also I still got a crash with 2.0.15, here is the reproduction I have (maybe @dubzzz can get a shorter reproduction) =>

[code]

[2018-09-22 05:35] emmanueltouzery commented on #67
I tuned my test to try to get shorter reproductions.

-    const testsToRun = 0;
-    const opsToRun = 64;
-    const randomArrayMaxLength = 256;
+    const testsToRun = 300000;
+    const opsToRun = 7;
+    const randomArrayMaxLength = 8196;

I got this in 4 steps with 2.0.15 =>

  Seq fuzzer
*** vector/llist BUG
[ 'append 5440', 'append 6338', 'drop 4194', 'drop 6229' ]

and here's a short repro

[2018-09-24 06:26] grossbart opened #70 "NonEmptyList"
I used funkia/list on a larger project and was generally very happy with it. One big missing piece for me was the availability of a NonEmptyList. Having this available helps reduce a lot of code concerned with checking if a list is empty or not, because in many situations an empty list would be an application error and should be caught far out in the API layer, not in the app's core code.

The [fp

[2018-09-24 19:43] paldepind commented on #67
Thanks a lot @emmanueltouzery. That test case is quite a lot nicer.

[2018-09-26 16:49] emmanueltouzery commented on #67
i think it's about the offset.

in the example...

f = L.drop(4194, f)
g = g.slice(4194)

<-- here the list offset is 128

f = L.drop(6229, f)
g = g.slice(6229)

<-- here the list offset is 0, but the list is missing the first 128 elements

[2018-09-26 18:54] paldepind commented on #70
I'm happy to hear that you've enjoyed using List :smile:

Adding a `NonEmptyList` is something that I've been considering and something that I think would be very useful. However, I can see two different ways to implement it, and I'd like to hear what you think about them:

1/ Make `NonEmptyList` s a seperate from `List` and create a different version of relevant functions that only takes `NonEmpt

[2018-10-07 13:36] emmanueltouzery commented on #67
a shorter one =>
[ 'append 2891', 'reverse', 'drop 267' ]

[2018-10-07 17:36] emmanueltouzery opened #72 "list will not release items for GC"
such code:

[code]

is not quite OK. list should wipe pointers to the items to enable them to be garbage collected, otherwise we have in effect a memory leak.. Items are unreachable for list users but list holds them in memory.

[2018-10-07 18:18] emmanueltouzery commented on #63
Closing. List has its system and obviously doesn't intend to change. I'm also not going to change it for prelude.ts.

[2018-10-07 18:18] #63 closed

[2018-10-09 05:37] paldepind commented on #72
That is something I've been a bit unsure about. You're definitely right that it prevents garbage collection. But, you're right, it's not worth it to leak memory for a very small perf benefit.

[2018-10-13 17:16] paldepind commented on #67
The code in https://github.com/funkia/list/issues/67#issuecomment-423718420 is a really nice reproduction. I don't think it can be made much shorter. Thank a lot for it :smile:

That turned out to be true! A combination of offset _and_ the size tables used for concatenation caused the problem. I've opened #73 which should fix the issue. If you have the time feel free to try the code in the PR. Bef

[2018-10-13 20:30] emmanueltouzery commented on #67
I think #73 is the right fix for all. With #73 I can't reproduce any issue with the fuzzer. I think also #68 is probably fixed. I recommend you merge #73 and then try to merge #69 and I assume #69 will not find any issues anymore! And once your merge #73 I think you can close #67 and #68.

[2018-10-13 20:42] emmanueltouzery commented on #72
not sure how it should be fixed within `list` though. prune completely the nodes which become in effect unused in the tree (as in wipe subtrees entirely from the root down)? would that maybe break some other code which would expect these nodes to be present?

If there is an assumption the nodes are there, copying them all fill them with `undefined` could have some cost. But I do think they must be

[2018-10-17 18:53] paldepind commented on #67
Fixed in 2.0.16.

[2018-10-17 18:53] #67 closed

[2018-10-17 18:56] paldepind commented on #72
This should be fixed by #74.

I don't understand your comment above @emmanueltouzery. Was that addressed by my comment [here](https://github.com/funkia/list/pull/74#issuecomment-430667924) or are you thinking about something else?

[2018-10-17 19:12] emmanueltouzery commented on #72
yes your comment covered my question, it's all good, i'm closing this bug!

[2018-10-17 19:12] #72 closed

[2018-10-19 06:16] dubzzz commented on #67
Great job :)
I can rework on #69 if you need to. Let me know if you need help with it

[2018-10-30 07:45] grossbart commented on #70
I was thinking way too long about this, there's always a con that crops up when you have so many pros for one or the other way 😅 In the end, I think your suggestion 2 makes the most sense for this library: it's a self-contained library that has the luxury to know all the types it needs to work with and can therefore provide functions that know how to deal with either `List` or `NonEmptyList`.

[2018-11-05 16:32] paldepind commented on #70
@grossbart Thank you for the feedback. It's the option I'm leaning towards as well. This shouldn't be too tricky to add. I'll work on it when I get the time and do a PR.

[2018-12-13 14:39] Levino opened #75 "What about `reduced`?"
I am looking for `R.reduced` to prevent excessive reducing. Any plans for it?

[2018-12-16 03:33] benny-medflyt opened #76 "Reverse iteration"
I can't find a way to loop over a List backwards. The only way seems to be to use `reverse`, but this is very inefficient for large lists.

There is `reduceRight`/`foldr`, but those don't allow for early termination.

I think we need a function

[code]

(Similar to C++ `rbegin`/`rend`)

[2018-12-16 19:58] paldepind commented on #75
That is a nice idea. It's not very difficult to add. The only reason why it hasn't been added yet is that I'm afraid that checking for `reduced` may affect the performance of the "normal" reduce.

What do you think about adding a variant of reduce that supports `reduced`?

[2018-12-16 20:00] paldepind commented on #76
This is a great idea and relates slightly to #75.

What are you actually most interested in a `reduce` an `reduceRight` that supports early termination or an iterator that iterates backwards?

I'd like to add both but I'd also like to work on the most "important" one first.

[2018-12-16 20:17] benny-medflyt commented on #76
I personally would be interested in a reverse iterator, so I can use it with regular for loops. My personal style is to try to use for loops when possible, rather than a functional style, in order to keep the code familiar for other javascript programmers.

[2018-12-17 07:17] Levino commented on #76
Then you should not use `list`. It is for functional programming. Just use arrays.

Also reversing the list should be `O(1)` if it is a double linked list, so I would say that is very efficient.

[2018-12-17 07:18] Levino commented on #75
#76 is unrelated.

[2018-12-17 07:19] Levino commented on #75
If you are concerned about performance, then at least one should implement [`reduceWhile`](https://ramdajs.com/docs/#reduceWhile).

I checked out the source and tried to implement it but I have to say I failed. The current code base is quite hard to understand.

[2018-12-17 07:38] Levino commented on #76
Maybe I am wrong. Looks like the underlying data structure is a JS array...

[2018-12-17 07:41] Levino opened #77 "Stop mutating"
You mutate arguments. That is "unfunctional and bad style".

Examples:

https://github.com/funkia/list/blob/b626bb5139e10e4bdfe7dfc778509d177d4e5df0/src/index.ts#L982-L991

This should be fixed and never be done again. Actually **nothing** should ever be mutated in the whole codebase of this library.

[2018-12-18 17:03] paldepind commented on #76
The underlying data structure is a relaxed radix balanced tree. Since the data structure is symmetric it actually is possible to reverse it in `O(1)`. But I've been hesitant to do so as it adds extra complexity for all the other operators.

I will be happy to add a backwards iterator. But, the alternatives to `for-of` loops are typically `reduce` and `map` which I think any JavaScript developer sh

[2018-12-18 17:04] paldepind commented on #76
@benny-medflyt

What do you think about the name `backwards` as the function that returns an iterable that iterates in reverse order?

[code]

[2018-12-18 17:10] paldepind commented on #77
The code in your example doesn't mutate the values it receives as argument. It merely reassigns to the argument.

Also, internal mutations are fine. The API of List is 100% pure and functional. There is zero reason to implement all the internals in a purely functional style. That would slow down the library with no benefits.

[2018-12-18 17:13] paldepind commented on #75
That is a good idea. `reduceWhile` can easily be added.

[2018-12-19 09:37] benny-medflyt commented on #76
that `backwards` function looks perfect!

[2018-12-19 09:50] Levino commented on #77
Thank you for the explanation. You are right, no mutation, sorry. I still do not like the current style but I guess the performance argument holds. Closing as 'wontfix'.

[2018-12-19 09:50] #77 closed

[2018-12-26 14:12] Alx-l opened #78 "multi-field sort"
Hi,

First, great lib 👍

I wanted to know if you were planning on adding a method allowing to sort on multiple fields?
I played with your codebase, and I implemented (naïvely) it like this:
[code]
Then, you can use it like this:
[code]

[2019-01-03 10:04] Freak613 opened #79 "Can't find fromArray"
Library seems to not export nor having `fromArray` function.
Specifically, I'm trying to import it as ES-module and bundled dist from npm doesn't have this function in exports.

[2019-01-05 18:13] paldepind commented on #79
Hi @Freak613. The function has been renamed to just `from`. I've forgot to update the documentation :sweat:

[2019-01-06 09:51] joshburgess commented on #70
FWIW, `fp-ts` follows approach #1, mimicking what languages like Haskell & PureScript do:

https://github.com/gcanti/fp-ts/blob/master/src/NonEmptyArray.ts

I like this, because it keeps the two types totally isolated and distinct from each other.

[2019-01-08 08:06] grossbart commented on #70
@joshburgess I know they separate the two completely, but I don't have the intuitions yet to decide whether combining them for this library would mean trouble. My reasoning was that because this library is self-contained it couldn't hurt to have `NonEmptyList` be a subtype of `List` with an additional constraint. But maybe this is a fallacy and we trade comfort at the expense of lawfulness? I can

[2019-01-08 11:44] joshburgess commented on #70
What about, instead of subtyping, just importing and using the utility functions from `List` also with `NonEmptyList` and casting?

I'm no fan of casting, in general, but it would be only an internal implementation detail. With this approach, it would allow reusing the existing code + making maintainability for the two separate list types easier, but would still be type-safe from the outside, requ

[2019-01-11 11:33] paldepind commented on #70
@joshburgess

That sounds interesting. But, I don't fully understand what you're proposing here? Could you maybe explain it in more detail?

[2019-01-18 15:43] paldepind commented on #78
Hi @Alx-l. Why did you close this one? I don't have much time right now (I have exams). But I'd like to take a look at this later.

[2019-01-18 17:08] Alx-l commented on #78
Hi @paldepind,

I closed it because I thought it slipped through the cracks 😀

Good to know thats it's not the case, let me know if you have some questions when you'll have the time to take a look at it.

[2019-02-09 08:29] paldepind commented on #78
Hi again @Alx-l. I'd like to hear what you think about the following idea.

The function `sortBy` currently let's you return any value that is comparable using `<` (or the Fantasy Land Ord specification). What if it also handled any Iterable, like arrays or lists, and then compared them lexicographically. That is, by first comparing the first element, then the second, and so on.

That would make i

[2019-02-09 08:30] paldepind commented on #76
@benny-medflyt I've finally gotten around to add the `backwards` function :smile: I'm going to add a few other requested features and then I'll publish a release to npm that includes `backwards`.

[2019-02-09 11:47] emmanueltouzery commented on #78
regarding this, FYI prelude-ts [supports](http://emmanueltouzery.github.io/prelude.ts/latest/apidoc/classes/vector.html#sorton):

[code]

to say "sort by a, then by b descending".

[2019-02-10 08:41] paldepind commented on #79
I've no updated the documentation to reflect the fact that `fromArray` and `fromIterable` was merged into a single function called `from.`

[2019-02-10 08:41] #79 closed

[2019-02-10 08:57] paldepind commented on #75
I've now added `reduceWhile`. It is part of the `2.0.17` release.

Considering that there doesn't seem to be much love for `reduced` even in Ramda (https://github.com/ramda/ramda/pull/2613) I don't think I'll add it.

[2019-02-10 08:57] paldepind commented on #76
This is now release as part of `2.0.17`.

Thanks a lot for the feature request @benny-medflyt and for your patience :wink:

[2019-02-10 08:57] #76 closed

[2019-02-10 09:51] Levino commented on #75
`reduceWhile` is sufficient imo. Thank you!

[2019-02-10 12:42] paldepind commented on #75
Great. Thank you for bringing up this issue :smile:

[2019-02-10 12:42] #75 closed

[2019-02-10 12:43] paldepind commented on #68
This was fixed along with the issues in #67 as far as I'm aware.

[2019-02-10 12:43] #68 closed

[2019-02-11 09:52] paldepind commented on #78
@emmanueltouzery

Making `sortBy` variadic is definitely also a nice way to extend it.

The change from `ToOrderable<T>` to `{ desc: ToOrderable<T> }` looked a bit weird to me at first. But I can definitely see the appeal. It makes for a syntactically very compact way of declaring descending order.

Basically the following from the proposal

[code]

Shrinks down to

[code]

Maybe it would make sen

[2019-02-11 10:48] emmanueltouzery commented on #78
yeah the first version is more readable... prelude-ts also supports `sortBy((a,b) => <return ordering>)` btw.

if i would code it today i'd probably rather go for your first longer version to be honest. but now i have something and it works fine so if i don't get complaints i guess i won't touch it. I've had some thoughts about renaming sortOn and sortBy in prelude-ts for clarity, but never came u

[2019-02-11 11:27] Alx-l commented on #78
Hi @paldepind , @emmanueltouzery,

If the feature is already implemented in `prelude-ts`, then might as well use it :)

No need to reinvent the wheel in my opinion, I just thought it was rather useful to be able to sort on multiple fields and also be able to reverse order (by field).

But in that case, I think it would be great to make `sortOn` variadic then, to be able to sort on any number of fi

[2019-09-22 18:05] NightYoshi370 opened #81 ".random possible?"
How would I go about making a .random function that would allow me to get a random value of the list? I can do it for normal arrays but I'm not sure how to do it for list.

Normal array Random code:
[code]

[2019-09-26 05:47] #81 closed

[2019-09-29 13:15] paldepind commented on #81
Hi @NightYoshi370.

Why did you close the issue?

This should work:

[code]

The code `list.nth(n)` is equivalent to `array[n]`.

I hope that helps :smile:

[2019-10-09 12:14] shomodj opened #82 "head() is missing?"
Is it just me or head is missing in all type definitions? and code?

documentation mentions it as an alias for first?

list version 2.0.18

thanks

[2019-10-09 17:14] paldepind commented on #82
Hi @shomodj. Thank you for pointing this out. It is definitely completely missing.

[2019-10-09 17:37] paldepind commented on #82
This should now be fixed in the [latest release 2.0.19](https://github.com/funkia/list/releases/tag/v2.0.19). Please confirm that it works then we can close the issue :smile:

[2019-10-09 20:58] shomodj commented on #82
typescript confirms its there ;)

[2019-10-09 20:58] #82 closed

[2019-10-23 11:54] Alx-l commented on #78
Hello,

I'm going to re-close this issue ^^

If someone want to sort by multiple fields, one simply could use function composition.

example:
[code]

[2019-10-23 11:54] #78 closed

[2020-03-06 20:46] pvarga-dni opened #87 "nth() throws if passed NaN"

[2020-03-07 08:12] paldepind commented on #87
Thank you for reporting this @pvarga-dni.

What do you think should happen when `nth` is passed `NaN`?

[2020-03-25 09:15] Mistyputt opened #88 "Access the index on map() operations"
Hi

My use case frequently involves mapping a list of raw data into a UI representation that offers the ability to modify elements. For instance mapping a list into table rows, where the user may modify or delete rows. I was thinking having the index available when mapping would allow me to efficiently update the list on that index.

One could use List.zipWith(f, list, List.range(0,List.length(lis

[2020-04-02 19:41] Mistyputt commented on #88
I've played around with a naive implementation:

[code]

Maybe one could use the depth and branchingFactor instead but this seems performance-wise to already fare better than zipWith. Here are my rudimentary benchmark results:

[code]

[2020-04-07 19:57] aleksei-berezkin opened #89 "findLastIndex"
Hi, first thanks for your great lib which I'm happy to use in my projects. Recently ran into an issue: needed `findLastIndex()` which is not implemented. If you are ok with it, I'm ready to make pull request.

[2020-04-29 16:48] carleryd commented on #88
@Mistyputt I just ran into the same issue where I want to know which position in a row an element was clicked. The row is created using map function.
I would like to do the following

[code]

I guess a workaround for now can be to use `indexOf`

[2020-04-30 12:29] paldepind commented on #88
Thanks for opening the issue and providing feedback. I definitely agree that it would be nice to offer an easy way to map with an index.

I think your `mapWithIndex` implementation looks great @Mistyputt. Would you like to add it in a PR? 😄

[2020-04-30 21:56] Mistyputt commented on #88
Absolutely!

I did work around a few issues building the project when trying out that implementation and would feel better if I had a "clean" project when submitting the PR. After cloning I ran `npm install`, then `npm run build`. That failed with errors on `ts-toolbelt` and `devtoolsFormatters`:

[code]

As no one else has reported this I feel I'm missing something obvious. When I played around w

[2021-12-29 18:49] redbar0n opened #107 "vindum.io link in README is broken"
The link: http://vindum.io/blog/how-can-list-be-faster-than-native-arrays/

git blame: https://github.com/funkia/list/commit/1a102caef5418089ce92109e4f478bb7b56b62f7

see also: https://github.com/paldepind/vindum.io/issues/1

It would be nice if this blog post were hosted somewhere else, preferably somewhere safe.
I suggest putting it up as a https://dev.to/ blog post.